     <div class="main-container"> 
          <div class="aside" role="side">
            <h1>Choose Betting Amount.</h1> 
            <button class="button-78 btn2 btn-info col-sm-6" type="button" (click)="pressNum('1')">$1 </button>
            <button class="button-78 btn2 btn-info col-sm-6" type="button" (click)="pressNum('5')">$5 </button>
            <button class="button-78 btn2 btn-info col-sm-6" type="button" (click)="pressNum('10')">$10</button>
            <button class="button-78 btn2 btn-info col-sm-6" type="button" (click)="pressNum('20')">$20</button>
            
          </div>
        </div>       
